FIREBASE_API_KEY=xxx
FIREBASE_AUTH_DOMAIN=xxx
FIREBASE_PROJECT_ID=homestay-cms
FIREBASE_STORAGE_BUCKET=xxx
FIREBASE_MESSAGING_SENDER_ID=xxx
FIREBASE_APP_ID=xxx

STRIPE_PUBLIC_KEY=pk_test_xxx
CLOUDINARY_CLOUD_NAME=xxx
API_URL=https://your-functions-url.cloudfunctions.net/api/v1
